body{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.main_text{
    margin: 40px;
    height: 45rem;
}
.author{
    break-after: always
}

@page {
	margin: 10mm 15mm;
	size: A4 portrait;
}
@media print{}